html, body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

wrapper {
	min-height: :100%;
	position: relative;
}

header, main, footer {
	min-width: 855px;
	padding: 10px 0 10px 0;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

p, a, ul {
	font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
header {
	background-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	height: 100px;
}

header .title {
	float: left;
	width: 500px;
	border-style: solid;
	border-width: 1px;
}

header h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
}

header .welcome {
	float: left;
	width: 500px;
	border-style: solid;
	border-width: 1px;
}

header .logon, .logoff {
	float: right;
	width: 300px;
	border-style: solid;
	border-width: 1px;
}

header .logon input[type=text] {
	width:70%;
	padding:5px;
	border:1px solid #ccc;
	font-family:raleway
}

/* MAIN */
main {
	background: white;
	overflow: auto;
}

main h2 {
	font-size: xx-large;
}

#btnNewPost, .logoff, .addanswer, .showanswer, .hideanswer {
	display: none;
}

.currentquestions h2 {
	font-size: x-large;
	color: blue;
}

.currentquestions h3 {
	font-size: large;
	color: blue;
}

.rightside button {
	float: right;
}

.rightside .expires {
	float: left;
}

.availablequestions {
	display: inline-block;
	width: 100%;
	border-bottom: solid;
}

.leftside {
	width: 65%;
	float: left;
}

.rightside {
	width: 32%;
	float: right;
}

.questionwrapper {
	display: inline-block;
	width: 100%;
}

.answerwrapper {
	float: right;
	display: none;
	width: 80%;
}

.answerdiv {
	display: inline-block;
	width: 100%;
	padding: 10px 0 10px 0;
}

/* FOOTER */
footer {

}