body {
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
	padding: 10px 0 10px 0;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

p, a, ul {
	font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
header {
	background-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	height: 110px;
}

header .title {
	float: left;
	width: 500px;
	border-style: solid;
	border-width: 1px;
}

header h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
}

header .welcome {
	float: left;
	width: 500px;
	border-style: solid;
	border-width: 1px;
}

header .logon {
	float: right;
	width: 300px;
	border-style: solid;
	border-width: 1px;
}




/* MAIN */
main {
	background: white;
}

main h2 {
	font-size: xx-large;
}

main .gameButtons {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

main .gameButtons button {
  font-weight: bold;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.3em;
}

